! general settings
URxvt.saveLines:        50000
URxvt.termName:         xterm-256color
URxvt.urgentOnBell:     false
URxvt.visualBell:       false
URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.meta8:            false
URxvt.metaSendsEscape:  true
!URxvt.iconFile:  		/usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg
URxvt.urlLauncher:      firefox
URxvt.underlineURLs:    true
URxvt.urlButton:        1


!Copy/Paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!Crtl+Arrow keys
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

!Enable Scroll Up/Down
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

! appearance
URxvt.geometry: 		100x30
URxvt.depth:             32
!URxvt.transparent:      true
URxvt.shading:           50
URxvt.underlineColor:    #4682B4
URxvt.highlightColor:    #666666
URxvt.throughColor:      #4682B4
URxvt.scrollBar:         false
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true
URxvt.internalBorder:    0
URxvt.externalBorder:    0
URxvt.colorIT:      	 #4682B4
URxvt.colorBD:      	 #F9F9F9
URxvt.colorUL:      	 #87afd7

!Scroll UP/DOWN script, create a file at $HOME/.urxvt/ext/vtwheel

URxvt.perl-ext-common:  default,clipboard,url-select,resize-fonts,confirm-paste,vtwheel

! macros for resize-font - sudo pacman -S urxvt-resize-font-git
URxvt.resize-font.step:   1
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.keysym.C-Down:      resize-font:smaller
URxvt.keysym.C-Up:        resize-font:bigger


! special
*.foreground:   #5bd8df
*.background:   #180d17
*.cursorColor:  #5bd8df

! black
*.color0:       #e0ad5e
*.color8:       #a0bbf6

! red
*.color1:       #453cea
*.color9:       #e4c68c

! green
*.color2:       #3eaff0
*.color10:      #f324e4

! yellow
*.color3:       #c828ff
*.color11:      #edabaa

! blue
*.color4:       #dd41cb
*.color12:      #87a9eb

! magenta
*.color5:       #b27aac
*.color13:      #4fa3a3

! cyan
*.color6:       #e63312
*.color14:      #39a5a5

! white
*.color7:       #2cdfa7
*.color15:      #e47f5b

!Fonts
URxvt.font: xft:Fira Code Retina:pixelsize=16




!!!!!! 		POLYBAR 	!!!!!!!

!-- Xft settings -- !
Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault


! window padding
st.borderpx:          19
st.font:           JetBrainsMono Nerd Font:style:medium:pixelsize=15 
st.opacity: 255


#define base00 #21252A 
#define base01 #353b45
#define base02 #3e4451
#define base03 #545862
#define base04 #565c64
#define base05 #abb2bf
#define base06 #b6bdca
#define base07 #c8ccd4
#define base08 #e06c75
#define base09 #d19a66
#define base0A #e5c07b
#define base0B #98c379
#define base0C #56b6c2
#define base0D #61afef
#define base0E #c678dd
#define base0F #be5046

!*foreground:   base07
#ifdef background_opacity
!*background:   [background_opacity]base00
#else
!*background:   base00
#endif
!*cursorColor:  base05

!*color0:       base00
!*color1:       base08
!*color2:       base0B
!*color3:       base0A
!*color4:       base0D
!*color5:       base0E
!*color6:       base0C
!*color7:       base05

!*color8:       base03
!*color9:       base08
!*color10:      base0B
!*color11:      base0A
!*color12:      base0D
!*color13:      base0E
!*color14:      base0C
!*color15:      base07

!*color16:      base09
!*color17:      base0F
!*color18:      base01
!*color19:      base02
!*color20:      base04
!*color21:      base06



tabbed.selbgcolor:   #21252A
!tabbed.selfgcolor:   #d6d8eb
tabbed.selfgcolor:   #ed705c

tabbed.normfgcolor:  #9294a8
tabbed.normbgcolor:  #2B2F34

